/* -------- Fonts ------- */

/* Thin */
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 100;
	src: local('Lato'),
		url('/fonts/Lato-Thin.ttf') format('ttf');
}

/* Light */
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 300;
	src: local('Lato'),
		url('/fonts/Lato-Light.ttf') format('ttf');
}

/* Regular */
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: local('Lato'),
		url('/fonts/Lato-Regular.ttf') format('ttf');
}

/* Bold */
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	src: local('Lato'),
		url('/fonts/Lato-Bold.ttf') format('ttf');
}

/* Black */
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 900;
	src: local('Lato'),
		url('/fonts/Lato-Black.ttf') format('ttf');
}

/* -------- Specification ------- */

body {
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	color: #767e9e;
	margin: 0;
	padding: 0;
}

.wrapper {
	width: 940px;
    margin: 0 auto;
    border: 5px solid red outset;
}

div, p, form, input, a, span, button {
	box-sizing: border-box;
}

div {
    overflow: hidden;
}

p {
    margin: 0;
    text-align: justify;
}

ul, li {
	display: block;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	font-weight: 900;
    line-height: 1.15em;
    color: #666d89;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 18px;
}

a {
    text-decoration: none;
}

/* -------- Get a Quote ------- */
.quote {
    background-color: #f06c64;
    color: #f0d8d9;
    padding-top: 66px;
    border-bottom: 6px solid #ea676b;
}

.quote__text {
    padding-top: 18px;
    padding-bottom: 44px;
    line-height: 1.7em;
    font-size: 18px;
    letter-spacing: -0.012em;
}

.quote__title, .contacts__title {
    color: #f0d8d9;
}

.quote__form {
    width: 620px;
    float: left;
    margin-right: 20px;
}

.quote__form input, .quote__form textarea {
    background-color: #d6564f;
    color: #f48c8f;
    border: none;
    border-radius: 5px;
    padding-top: 12px;
    padding-bottom: 11px;
    padding-left: 15px;
    margin-bottom: 16px;
    letter-spacing: -0.015em;
}

::placeholder {
    color: #f48c8f;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    letter-spacing: 0.002em;    
}

::-ms-input-placeholder {
    color: #f48c8f;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    letter-spacing: 0.002em;   
}

.quote__form input:nth-child(3) {
    padding-top: 12px;
    padding-bottom: 10px;
}

.quote__form input {
    width: 620px;
}

.quote__form textarea {
    padding-top: 10px;
    margin-bottom: 16px;
    padding-bottom: 0;
}

.quote__form textarea {
    width: 602px;
    overflow: hidden;
}

input:active, input:focus,
textarea:active, textarea:focus {
    outline: none;
    outline-offset: 0;
    color: #f0d8d9;
}

.quote__form button {
    width: 170px;
    padding: 10px;
    align-items: center;
    background-color: #2d303a;
    color: #f0d8d9;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    display: block;
    margin-bottom: 11px;
    margin-right: 0;
}

.quote__form button:hover, 
.quote__form button:active, 
.quote__form button:focus {
    outline: none;
}

.quote__form button:hover {
    background-color: #32364b;
    color: #f0d8d9;
}

.quote__form button:active {
    box-shadow: 0px 0px 18px 1px rgba(0,0,0,0.44)inset;  
}

.contacts {
    width: 300px;
    margin-left: 21px;
}

.contacts__text {
    padding-top: 8px;
    padding-bottom: 24px;
    line-height: 1.9em;
    font-weight: 400;
    letter-spacing: -0.015em;
    word-wrap: break-word;
}

.contcts__item {
    display: flex;
    margin-bottom: 6px;
}

.details__icon {
    width: 13px;
    align-items: center;
    margin-right: 10px;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: center;
}

footer {
    background-color: #2d303a;
    color: #666d89;
    
}

.footer__info {
    padding: 22px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__copyright {
    margin-right: 1px;
    width: 95px;
}

.footer__links {
    
}

.links__item {
    float: left;
    width: 32px;
    height: 32px;
    border: 1px solid #666d89;
    border-radius: 50%;
    padding: 9px;
    margin-right: 8px;
}

.links__item:first-child {
    padding-left: 11px;
}

.links__item:last-child {
    margin-right: 0;
}

.links__item:hover{
    background-color: #fff;
}