/* -------- Fonts ------- */

/* Thin */
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 100;
	src: local('Lato'),
		url('/fonts/Lato-Thin.ttf') format('ttf');
}

/* Light */
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 300;
	src: local('Lato'),
		url('/fonts/Lato-Light.ttf') format('ttf');
}

/* Regular */
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: local('Lato'),
		url('/fonts/Lato-Regular.ttf') format('ttf');
}

/* Bold */
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	src: local('Lato'),
		url('/fonts/Lato-Bold.ttf') format('ttf');
}

/* Black */
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 900;
	src: local('Lato'),
		url('/fonts/Lato-Black.ttf') format('ttf');
}

/* -------- Specification ------- */

body {
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	color: #767e9e;
	margin: 0;
	padding: 0;
}

.wrapper {
	width: 940px;
    margin: 0 auto;
    border: 5px solid red outset;
}

div, p, form, input, a, span, button {
	box-sizing: border-box;
}

div {
    overflow: hidden;
}

p {
    margin: 0;
    text-align: justify;
}

ul, li {
	display: block;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	font-weight: 900;
    line-height: 1.15em;
    color: #666d89;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 18px;
}

a {
    text-decoration: none;
}

/* -------- Portfolio ------- */
.portfolio {
    background-color: #2d303a;
    color: #767e9e;
    padding-top: 70px;
    border-bottom: 6px solid #323746;
}

.portfolio__text {
    display: block;
    font-size: 18px;
    font-weight: 300;
    padding-top: 22px;
    padding-bottom: 16px;
}

.filter {
    display: flex;
}

.filter__name {
    border: 1px solid #767e9e;
    padding: 3px 6px;
    border-radius: 5px;
    margin-left: 1px;
    margin-right: 9px;
    margin-bottom: 17px;
}

.filter__name a {
    color: #767e9e;
}

.filter__name a:hover {
    color: #dedede;
}

.filter__name:hover {
    border: 1px solid #dedede;
}

.portfolio__works {
    padding-bottom: 45px;
}

.example {    
    float: left;
    width: 220px;
    margin-right: 20px;
    margin-bottom: 18px;
}

.example:nth-child(4n) {
    margin-right: 0;
}

.example:hover {
    outline: 2px dashed rgba(255,255,255,0.8); /* Пунктирная рамка */
    outline-offset: -10px;
}

/* -------- AboutUa ------- */
.aboutUs {
    padding-top: 60px;
    padding-bottom: 67px;
    color: #767e9e;
    background-color: #f2f2f2;
    border-bottom: 6px solid #fff;
}

.aboutUs__text {
    padding-top: 18px;
    padding-bottom: 45px;
    line-height: 1.7em;
    font-size: 18px;
    letter-spacing: -0.012em;
}

.personal_item {
    float: left;
    width: 300px;
    margin-right: 20px;
}

.personal_item:last-child {
    margin-right: 0;
}

.personal__name {
    padding-top: 13px;
    padding-bottom: 10px;
    letter-spacing: -0.012em;
}

.personal__text {
    line-height: 1.7em;
    letter-spacing: -0.007em;
    padding-bottom: 25px;
}

.links__item {
    float: left;
    width: 32px;
    height: 32px;
    border: 1px solid #666d89;
    border-radius: 50%;
    padding: 9px;
    margin-right: 8px;
}

.links__item:first-child {
    padding-left: 11px;
}

.links__item:hover{
    background-color: #fff;
}